* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/***********************/
/*EQUALIZER DESCRIPTION*/
/***********************/
.equalizer-content {
  padding: 40px 24px;
  background-image: url(./assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
header {
  width: 146px;
  color: #191826;
  font-size: 32px;
  font-weight: 700;
}
h1 {
  margin-top: 64px;
  width: 327px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.455px;
  color: #191826;
}
.discription-equalizer {
  font-size: 16px;
  color: #191826;
  line-height: 26px;
  width: 327px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/***********************/
/*ILUSTRATION APP*/
/***********************/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.illustration-app {
  max-width: 375px;
  border-radius: 12px;
  position: relative;
  background-color: #191826;
  margin-top: 110px;
}
.app-pic {
  max-width: 208.972px;
  position: absolute;
  top: -100px;
  left: 52px;
}
.mobile-background {
  max-width: 375px;
  width: 100%;
}

/***********************/
/*PREMIUM EQ*/
/***********************/
.premium-eq {
  width: 375px;
  border-radius: 12px;
  background: #fa7453;
  padding: 37px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.premium-eq-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.header-eq {
  width: 302px;
  color: #fcfaf9;
  font-size: 32px;
}
.premium-p {
  width: 302px;
  font-size: 18px;
  color: #fcfaf9;
}
.usd {
  color: #fcfaf9;
  font-size: 65px;
  font-weight: 700;
}
.month {
  color: #fcfaf9;
  font-size: 20px;
  letter-spacing: -0.2px;
  font-weight: 400;
}

.common-btn {
  width: 296px;
  height: 61px;
  flex-shrink: 0;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.18px;
  font-family: "IBM Plex Sans", sans-serif;
}
.ios-btn {
  background: #191826;
  color: #fcfaf9;
}
.android-btn {
  background: #fcfaf9;
}
/***********************/
/*EQUALIZER FOOTER*/
/***********************/
.equalizer-footer {
  display: flex;
  width: 327px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32.008px;
  margin: 80px auto;
}
.title-equalizer {
  width: 146px;
  color: #191826;
  font-size: 32px;
}
.contact-info {
  width: 327px;
  color: #191826;
  font-size: 16px;
  font-weight: 400;
}
.email-link {
  color: #191826;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.social-items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
