* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/***********************/
/*EQUALIZER DESCRIPTION*/
/***********************/
.equalizer-content {
  padding: 40px 24px;
  background-image: url(./assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
header {
  width: 146px;
  color: #191826;
  font-size: 32px;
  font-weight: 700;
}
h1 {
  margin-top: 64px;
  width: 327px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.455px;
  color: #191826;
}
.discription-equalizer {
  font-size: 16px;
  color: #191826;
  line-height: 26px;
  width: 327px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/***********************/
/*ILUSTRATION APP*/
/***********************/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.illustration-app {
  width: 375px;
  border-radius: 12px;
  position: relative;
  background-color: #191826;
  margin-top: 110px;
}
.app-pic {
  max-width: 208.972px;
  position: absolute;
  top: -100px;
  left: 84px;
}
/***********************/
/*PREMIUM EQ*/
/***********************/
.premium-eq {
  width: 375px;
  border-radius: 12px;
  background: #fa7453;
  padding: 37px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  z-index: 2;
  margin-top: -35px;
}
.premium-eq-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
}
.header-eq {
  color: #fcfaf9;
  font-size: 32px;
}
.premium-p {
  width: 302px;
  font-size: 18px;
  color: #fcfaf9;
}
.price {
  display: flex;
  align-items: center;
  gap: 12px;
}
.usd {
  color: #fcfaf9;
  font-size: 65px;
  font-weight: 700;
}
.month {
  color: #fcfaf9;
  font-size: 20px;
  letter-spacing: -0.2px;
  font-weight: 400;
}

.common-btn {
  width: 296px;
  height: 61px;
  flex-shrink: 0;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.18px;
  font-family: "IBM Plex Sans", sans-serif;
  border: none;
}
.ios-btn {
  background: #191826;
  color: #fcfaf9;
}
.android-btn {
  background: #fcfaf9;
}
.icons-gap {
  display: flex;
  justify-content: center;
  gap: 10px;
}
/***********************/
/*EQUALIZER FOOTER*/
/***********************/
.equalizer-footer {
  display: flex;
  width: 327px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32.008px;
  margin: 80px auto;
}
.title-equalizer {
  width: 146px;
  color: #191826;
  font-size: 32px;
}
.contact-info {
  width: 327px;
  color: #191826;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.email-link {
  color: #191826;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.social-items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
@media (min-width: 768px) {
  .discription-equalizer {
    width: 825px;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 40px;
  }
  h1 {
    width: 1015px;
    font-size: 88px;
    letter-spacing: -1px;
    line-height: 88px;
    margin-top: 103px;
    margin-bottom: 15px;
  }

  .equalizer-content {
    background-image: url(./assets/bg-main-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 450px 164px 164px;
    position: relative;
    margin-bottom: -99px;
  }
  .tablet-background {
    background-image: url(./assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 350px;
    position: absolute;
    right: 0;
    top: 0;
  }
  header {
    margin-top: -55px;
  }
  .illustration-app {
    width: 1110px;
  }
  .app-pic {
    left: 268px;
  }
  .container {
    position: relative;
    margin-bottom: 175px;
  }
  .premium-eq {
    position: absolute;
    top: 292px;
    right: 110px;
  }
  .ios-btn {
    background: #66e2dc;
    color: #fcfaf9;
  }
  .android-btn {
    background: #ffb964;
  }
  .equalizer-footer {
    width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .social-items {
    text-align: center;
    margin: auto 0;
  }
  .fc-icon:hover path {
    fill: #fa7453;
  }
  .insta-icon:hover path {
    fill: #66e2dc;
  }
  .twit-icon:hover path {
    fill: #66e2dc;
  }
}
@media (min-width: 1440px) {
  .ios-btn {
    background: #191826;
    color: #fcfaf9;
  }
  .android-btn {
    background: #fcfaf9;
  }
  .fc-icon:hover path {
    fill: #fa7453;
  }
  .insta-icon:hover path {
    fill: #66e2dc;
  }
  .twit-icon:hover path {
    fill: #66e2dc;
  }
}
